<form action="" class="form">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Quote!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Author</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sender</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" >
  </div>
</form>
