.form{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    border: 1px solid rgba(0, 0, 255, 0.336);
    border-radius: 10px 10px;
    box-shadow: 0px 5px 20px 5px;
}
div{
    padding: 2%;
}
label{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, ;
}
h3{
     text-align: center;
     padding: 2%;
     text-decoration:underline
}
h4{
    margin-top: 5%;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}
.p1{
    text-align: center;
    font-style: italic;
}
button{
    margin-left: 5%;
}
#cont{

    height: 500px;
    display: inline-flex;
    background-color: aliceblue;
}
.first{

    height: 80px;
    width: 500px;
}
#first{
    color: rgb(117, 34, 34);
    text-align: center;
}
.last{

    height: 80px;
    width: 200px;
}
#last{
 
    font-family: Arial, Helvetica, sans-serif;
}
#italic{
    font-weight: bold;
}
.number{

    height: 80px;
    width: 20px;
}
#number{
    font-weight: bold;
}
.votes{

    height: 80px;
    width: 50px;
    display: inline-flex;
}
.votes{

    height: 80px;
    width: 130px;
    display: inline-flex;
}
.remove{
    height: 80px;
    width: 20px;
}
.fa-trash{
    color: red;
    font-size: 30px;
}
.fa-quote-right, .fa-quote-left{
    font-size: 12px;
    color: black;
}
.fa-thumbs-up{
    font-size: 20px;
    color: green;
    border: none;
}
.fa-thumbs-down{
    font-size: 20px;
    border: none;
}
#bi{
    margin-top: 5%;
    border: none;
}
#para{
    display: inline-flex;
}