<div class="form">
    <h3>Post your Quote!</h3>
    
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Quote!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]= "newToadd"></textarea>
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Author</label>
        <input type="text" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sender</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" >
  </div>
  <button class="btn btn-success btn-lg" (click)="saveToadd()">Add Quote</button>
  <button class="btn btn-primary btn-lg" routerLink="/quote">Post Quote</button>

  <table class="table table-stripped">
    <tr *ngFor = "let toadd of toadds; let i = index;">
        <th >{{i+1}}</th>
            <td>{{toadd.name}}</td>
            <td (click)="remove(i)">X</td>
    </tr>
  </table>
    
</div>
<!-- <h2 style="text-align: center;">Form</h2>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]= "newToadd">
                <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2" (click)="saveToadd()">Add</button>
              </div>
            <table class="table table-stripped">
                <tr *ngFor = "let toadd of toadds; let i = index;">
                    <th >{{i+1}}</th>
                        <td>{{toadd.name}}</td>
                        <td (click)="remove(i)">X</td>
                </tr>
            </table>
        </div>
    </div>
</div> -->
