<form action="" class="form">
    <h3>Post your Quote!</h3>
    
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Quote!</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>
      </div>
    <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Author</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" >
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Sender</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" >
  </div>
  <button class="btn btn-success btn-lg" >Add Quote</button>
  <button class="btn btn-primary btn-lg" routerLink="/quote">Post Quote</button>
    
</form>
